/*Navbar style file*/
<!DOCTYPE>
<html>
<style>
}
body
{
  background: ghostwhite;
}
*{
  margin:0;
  padding:0;
  font-family:Times new roman;
  box-sizing:border-box;
}
ul.nav 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}
ul.nav li 
{
  float: left;
}
ul.nav li a:link,a:active,a:visited
{
  display: block;
   font-family:Times New Roman;
  color: white;
  text-align: center;
  padding:30px 15px;
  text-decoration: none;
}
ul.nav li a:hover
{
  display: block;
  color: black;
  font-family:Times New Roman;
  background-color:red;
  text-align: center;
  padding:30px 15px;
  text-decoration: none;
}
.header
{
  background-color:black;
  padding:30px;
  text-align:center;
   font-family:Times New Roman;
  font-size:50px;
  color:white;
}
h1 
{ 
background-color:black;
  padding:30px;
  text-align:center;
  font-size:50px;
  color:white;
 font-family:Times New Roman;
}
h3 
{ 
background-color:#ff9999;
  padding:20px;
  text-align:center;
  color:white;
 font-family:Times New Roman;
 }
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: white
  color:black;
}
li.dropdown 
{
  display: inline-block;
}
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a 
{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover 
{
display: block;
  color: white;
  font-family:Times New Roman;
  background-color:red;
  text-align: center;
  padding:30px 15px;
  text-decoration: none;
}
.dropdown:hover .dropdown-content
 {
  display: block;
}
</style>